:root {
  --color-blue: #{$colorBlue};
  --color-blue-body: #{$colorBlueBody};
  --color-gray-dark: #{$colorGrayDark};
  --color-red: #{$colorRed};
  --color-text-gray: #{$colorGrayLight};
  --color-gradient: #{$colorGradient};
  --color-gradient-red: #{$colorGradientRed};
}

[data-theme='light'] {
  --color-bg: #{$colorBg};
  --color-gray-light: #{$colorGrayLight};
  --color-main-contrast: #{$colorBlue};
  --color-blue-body: #{$colorBg};
  --color-hover: #{$colorBlueHover};
}

[data-theme='dark'] {
  --color-bg: #{$colorBlue};
  --color-gray-light: #{$colorBlue};
  --color-main-contrast: #{$colorGrayLight};
  --color-blue-body: #{$colorBlueBody};
  --color-hover: #{$colorGrayHover};
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}

button,
input {
  font-family: inherit;
}
